html {
    width: 100%;
    height: 100%;
}

body {
    max-width: 20em;
    height: fit-content;
    -webkit-box-shadow: 0 0 8px darkgray;
    box-shadow: 0 0 8px darkgray;
    margin: auto;
    margin-top: 5%;
    padding: 2em;
    border-radius: 0.2em;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.1em;
    margin-top: 0em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: #6f7887;
    text-decoration: none;
}
a:hover {
    color: #1f232b;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
}

p.subtitle {
    margin-top: 0;
    color: #404752;
}

.whitebox {
    text-align: center;
    -webkit-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px gray;
    padding: 0.5em;
    border-radius: 0.5em;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 1.1em;
    color: black;
}

div.button {
    -webkit-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px gray;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 1em 5em 0 5em;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9em;
}
div.button:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#add {
    -webkit-box-shadow: 0 0 5px #0398fc;
    box-shadow: 0 0 5px #0398fc;
    background-color: #0398fc;
    color: white;
}

#create {
    -webkit-box-shadow: 0 0 5px #82cf59;
    box-shadow: 0 0 5px #82cf59;
    background-color: #82cf59;
    color: white;
}

#clear {
    -webkit-box-shadow: 0 0 5px #fc493d;
    box-shadow: 0 0 5px #fc493d;
    background-color: #fc493d;
    color: white;
    margin-top: 2em;
    font-weight: 600;
}

#back {
    -webkit-box-shadow: 0 0 5px #0398fc;
    box-shadow: 0 0 5px #0398fc;
    background-color: #0398fc;
    color: white;
    margin-top: 2em;
}

p.member {
    display: none;
}

.sliderc {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: auto;
}
.sliderc:hover {
  opacity: 1;
}
.sliderc::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1.4em;
  background: #ffc421;
  cursor: pointer;
  border-style: none;
  -webkit-box-shadow: 0 0 5px darkgray;
  box-shadow: 0 0 5px darkgray;
}
.sliderc::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ffc421;
  cursor: pointer;
  border-style: none;
  -webkit-box-shadow: 0 0 5px darkgray;
  box-shadow: 0 0 5px darkgray;
}

p#links {
    color: #6f7887;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    right: 1em;
    bottom: -0.5em;
    font-size: 1.05em;
    text-align: right;
}

p#anz {
    font-style: italic;
}